{% extends 'base.html' %}
{% load i18n static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/conduct.css' %}" />
{% endblock css %}

<!--Content-->
{% block content %}
<div class="header h-100">
    <section class="max-900 header-section">
        <div class="d-flex flex-column align-items-center p-3">
            <h1 class="text-white">{% trans "Code of Conduct" %}</h1>
            <p class="text-white">{% trans "PyCon Latam is a conference organized by the Py Latam community. Its goals include the promotion and improvement of communication, collaboration and integration among developers in Latin America"%}</p>
        </div>
    </section>
  </div>

<div class="p-4">
    <div class="row mx-auto max-900 border rounded-2 overflow-hidden p-4 gap-3 my-3">
        <div class="col-md-4 col-sm-12 p-0 img-container">
            <img src="{% static 'img/logo_python_mx.png' %}" alt="Conduct" />
        </div>
        <section class="col-sm-12 col-md-6 text-left m-auto">
            <h2 class="fs-3">{% trans "Need help?" %}</h2>
            <span class="my-4 text-important"><iconify-icon icon="carbon:email" class="align-middle me-1 my-2"></iconify-icon> conducta@pylatam.org</span>
        <p>{% trans "Report any rule violations to conducta@pylatam.org. The committee will handle it. Our team will ensure safety during the conference, and your cooperation will help make the event successful and enjoyable"%}</p>
        </section>
    </div>

    <section class="mx-auto max-900 p-0 gap-3 my-5 text-start">
        <h2 class="fs-4 text-third mb-4">{% trans "Guiding Principles" %}</h2>
        <div class="row px-0 mx-auto g-3 g-md-5 fs-5">
            <span class="col-sm-12 col-md-6 p-0 paragraph">
                <iconify-icon icon="cil:happy" class="align-middle me-2 icon-container" width="25"></iconify-icon>
                {% trans "Be nice to everyone" %}
            </span>
            <span class="col-sm-12 col-md-6 p-0 paragraph">
                <iconify-icon icon="ph:briefcase-simple-light" class="align-middle me-2 icon-container" width="25"></iconify-icon>
                {% trans "Behave professionally" %}
            </span>
            <span class="col-sm-12 col-md-6 p-0 paragraph">
                <iconify-icon icon="clarity:talk-bubbles-line" class="align-middle me-2 icon-container" width="25"></iconify-icon>
                {% trans "Respect differing viewpoints" %}
            </span>

            <span class="col-sm-12 col-md-6 p-0 paragraph">
                <iconify-icon icon="radix-icons:person" class="align-middle me-2 icon-container" width="25"></iconify-icon>
                {% trans "Be mindful of your words" %}
            </span>
            <span class="col-sm-12 col-md-6 p-0 paragraph">
                <iconify-icon icon="carbon:growth" class="align-middle me-2 icon-container" width="25"></iconify-icon>
                {% trans "Promote community growth" %}
            </span>
            <span class="col-sm-12 col-md-6 p-0 paragraph">
                <iconify-icon icon="ph:heart" class="align-middle me-2 icon-container" width="25"></iconify-icon>
                {% trans "Show empathy towards others" %}
            </span>
        </div>

        <section class="d-grid gap-4 my-5 text-start">
            <h2 class="fs-4 blue-md mb-2">{% trans "Long version" %}</h2>
            <p class="paragraph"><span class="fw-bold">{% trans "Everyone is welcome" %}: </span>{% trans "We want everyone to have a great experience regardless of gender, sexual orientation, physical appearance, disability, race, or religion. Py Latam is a community that does not tolerate harassment." %}</p>
            <p class="paragraph"><span class="fw-bold">{% trans "Be respectful and kind to others" %}: </span>{% trans "Do not insult or expose others based on personal characteristics. Be professional and completely avoid making comments or jokes with sexist, racist or religious undertones." %}</p>
            <p class="paragraph"><span class="fw-bold">{% trans "Intimidation, stalking, harassment not allowed" %}: </span>{% trans "Any act that makes a person uncomfortable must be stopped immediately or actions will be taken." %}</p>
            <p class="paragraph"><span class="fw-bold">{% trans "Choose your words carefully" %}: </span>{% trans "This includes all content generated by and for the community. Such content should be appropriate for a professional environment including multiple backgrounds. Sexual language, implications or examples are not considered appropriate in any context." %}</p>
            <p class="text-important">{% trans "Attendees who are caught or reported to be in violation of these rules will be asked, by one of the organizers, to leave the conference and will not be entitled to ask for a refund of any fees paid." %}</p>
        </section>
    </section>
</div>

{% endblock content %}