{% extends 'base.html' %}
{% load i18n static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/conduct.css' %}" />
{% endblock css %}

{% block content %}
<section>
    <h1>{% trans "Code of Conduct" %}</h1>

    <p>{% trans "PyCon Latam is a conference organized by the Py Latam community. Its goals include the promotion and improvement of communication, collaboration and integration among developers in Latin America." %}</p>
</section>
<img src="/static/img/top-mountain (2).svg" weight="100%" height="100%" id="top-mountain">
<section>
    <aside>
        <h2>{% trans "Need help?" %}<br></h2>
        <h3>conducta@pylatam.org</h3>

        <p>{% trans "If you are a victim or witness someone violating these rules, please contact this email: conducta@pylatam.org. Someone from the committee will take care of the incident. During the conference, our team will always be available to help and ensure everyone's safety. We value your attendance, and with your help we will make this a successful and pleasant event for everyone." %}</p>

        <p style="text-align: center;"><img src="{% static 'img/yellow_asterisc.png' %}"></p>
    </aside>
    <p>{% trans "We appreciate the participation of everyone involved in the Python community and want all participants to have an enjoyable and satisfying experience. Inspired by the PSF's code of conduct, all community participants −including attendees, speakers, volunteers, sponsors and organizers− must show respect and courtesy to others at each conference-related interaction. To accomplish this, any person involved must conform to the following Code of Conduct." %}</p>
</section>
<img src="{% static 'img/bottom-mountain.svg' %}" width="100%" height="100%" id="bottom-mountain">
<section>
    <h2>{% trans "SHORT VERSION" %}</h2>
    <ul>
        <li>{% trans "Be nice to everyone" %}</li>
        <li>{% trans "Behave professionally" %}</li>
        <li>{% trans "Choose your words carefully" %}</li>
        <li>{% trans "Be respectful of differing viewpoints and experiences" %}</li>
        <li>{% trans "Focus on doing what is best for the community" %}</li>
        <li>{% trans "Show empathy in your interactions with others" %}</li>
    </ul>
    <h2>{% trans "LONG VERSION" %}</h2>

    <p>{% trans "Everyone is welcome. We want everyone to have a great experience regardless of gender, sexual orientation, physical appearance, disability, race, or religion. Py Latam is a community that does not tolerate harassment." %}</p>

    <p>{% trans "Be respectful and kind to others. Do not insult or expose others based on personal characteristics. Be professional and completely avoid making comments or jokes with sexist, racist or religious undertones." %}</p>

    <p>{% trans "Intimidation, stalking, harassment, taking pictures, making inappropriate physical contact or unwanted sexual attention of or against other event participants is strictly prohibited. Participants who are asked to stop any harassing behavior are expected to comply immediately." %}</p>

    <p>{% trans "Choose your words carefully. This includes all content generated by and for the community. Such content should be appropriate for a professional environment including multiple backgrounds. Sexual language, implications or examples are not considered appropriate in any context." %}</p>

    <p>{% trans "Attendees who are caught or reported to be in violation of these rules will be asked, by one of the organizers, to leave the conference and will not be entitled to ask for a refund of any fees paid." %}<br></p>
</section>
{% endblock content %}