{% extends 'base.html' %}
{% load  i18n  static  %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock css %}

{% block content %}
  <section class="hero is-bold" >
    <div class="">
		<img src="{% static 'img/encabezado.png' %}" class="img-fluid" alt="Logo">
    </div>
  </section>

  <!-- Información del evento -->
  <section class="section is-info introduction-info">
    <div class="container p-2">
      <img src="{% static 'img/yellow_asterisc.png' %}" alt="Asterisc" />
      <h3 class="title has-text-white">{% trans 'From September 19th to September 22th' %}</h3>
      <p style="color: #000;">
        {% trans 'It will take place within the facilities of "El Cid Resorts" in Mazatlán, Sinaloa, Mexico.' %}
      </p>
    </div>

    <!--We are back / What is Pyconlatam?-->
    <div class="mt-4 g-4 max-900 mx-auto bg-light p-4 border-4 d-grid gap-4 rounded-3">
      <div class="img-container"><img class="img-introduction" src="{% static 'img/estamos_devuelta.jpg' %}" alt="Estamos de vuelta" /></div>
      <div class="d-grid gap-3 p-0">
        <section class="mx-auto text-left p-3">
          <h2 class="fs-4 text-center mb-4 mt-2">{% trans "We're back" %}</h2>
          <p>{% trans "After the success of the first 4 editions of this conference, we're back! This time, for the third occasion, we'll have an in-person event with the same mission: to bring together communities from all Latin American countries."%}</p>
        </section>
        <section class="mx-auto text-left p-3">
          <h2 class="fs-4 text-center mb-4 mt-2">{% trans "What is PyCon Latam?" %}</h2>
          <p>{% trans "It is an event aimed at bringing together communities from all Latin American countries, where Python developers, software development communities, and other technical experts can share and learn about the latest advancements in the Python development ecosystem. PyCon Latam aims to connect enthusiastic communities and companies to collaborate in one place, fostering competition and innovation."%}</p>
        </section>
      </div>
    </div>
  </section>

  <!-- Keynotes speakers -->
  <section class="max-900 mx-auto p-4 text-black-50">
    <h3 class="mb-4 fw-bold">{% trans "Keynote Speakers" %}</h2>
    <div class="grid-auto-250">
      {% for speaker in data %}
      <div class="card">
        <div class="img-container">
          <img class="img-introduction" src="{% static 'img/speakers/'|add:speaker.image %}" class="card-img-top" alt="{{speaker.name}}">
        </div>
        <div class="card-body my-3">
          <h5 class="card-title mt-0 title-light-blue">{{speaker.name}}</h5>
          <p class="card-text">{{speaker.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- Call to action -->
  <div>
    <section class="cta-section">
      <h2 class="text-white mt-0">{% trans "Secure your spot today" %}</h1>
      <p class="text-white my-4">{% trans "Explore different <strong>ticket types and prices</strong> and find the perfect option for you. Click below for more details!" %}</p>
      {% if LANGUAGE_CODE == 'es' %}
          <a href="{% url 'tickets' %}" class="cta-button">{% trans "View Ticket Options" %}</a>
          {% else %}
          <a href="{% url 'tickets_en' %}" class="cta-button">{% trans "View Ticket Options" %}</a>
          {% endif %}
    </section>
  </div>

  <!-- Como ser Patrocidor del evento -->
  <section class="section is-grey" style="background-color: #F7F7F7;">
    <div class="container-fluid">
      <h3 class="text-default"></h3>
      <div class="card" style="background-color: #F7F7F7; border: none;">
          {% comment %} <img src="{% static 'img/serpienteshead.png' %}" class="card-img-top" alt="{% trans 'Become a sponsor' %}" style="max-height: 100px; width: auto; margin: auto;"> {% endcomment %}
          <div class="row p-0 m-auto">
            <img class="col-md-6" src="{% static 'img/serpiente_2.png' %}" alt="Serpiente 1" width="100" />
            <img class="col-md-6" src="{% static 'img/serpiente_1.png' %}" alt="Serpiente 2" width="100"/>
          </div>
          <div class="card-body">
            <h3 class="card-title">{% trans 'How to become a sponsor?' %}</h3>
            <p class="card-text">

            <div class="row">
            <div class="col">
            <div class="btn-group-vertical">
            <p class="dropdown-item text-center sponsoritem sponsorcommunity">
               <i class="fa fa-star fw-bold fs-1" aria-hidden="true"></i>
               <br><strong> {% trans 'Community' %}</strong>
               <br> $ 6 000 MX
            </p>
            <p class="dropdown-item text-center sponsoritem sponsorbasic">
               <i class="fa fa-star fw-bold fs-1" aria-hidden="true"></i>
               <br> <strong>{% trans 'Basic' %}</strong>
               <br> $ 15 000 MX
            </p>
            <p class="dropdown-item text-center sponsoritem sponsorbronce">
               <i class="fa fa-star fw-bold fs-1" aria-hidden="true"></i>
               <br> <strong>{% trans 'Bronze' %}</strong>
               <br> $ 15 000 MX
            </p>
            </div>
            </div>
            <div class="col text-justify">
            <h3 >{% trans 'MARKETING TOOL' %}</h3>
            <p  class="text-black-50">
            {% blocktrans %} If you are a user of Python technology, you host platforms and create SaaS products.
PyCon Latam provides you with the opportunity to meet potential customers for your products.
{% endblocktrans %}
            </p>
             <h3 > {% trans 'RECRUITMENT' %} </h3>
            <p class="text-black-50">{% trans 'This is the best place to find talent for your company. This is where the best technology developers in Latin America gather. PyCon Latam offers you this great opportunity.' %} </p>
               </div>  <div class="col text-justify">
            <h3> {% trans 'SUPPORTING DIVERSITY' %} </h3>

            <p class="text-black-50">{% trans 'PyCon Latam makes a great effort to be a space where inclusion and cultural diversity are possible. To achieve this, it is necessary to have the support of sponsors who can help us build this goal.' %} </p>
            <h3> {% trans 'NETWORKING' %} </h3>
            <p class="text-black-50"> {% trans 'At PyCon Latam, work and learning networks are built to create ties with future collaborators.' %} </p>
            </div>
            <div class="col">
             <div class="btn-group-vertical">
            <p class="dropdown-item text-center sponsoritem sponsordaymond" >
               <i class="fa fa-star" aria-hidden="true"></i>
               <br> <strong>{% trans 'Diamond' %}</strong>
               <br> $ 130 000 MX
            </p>
            <p class="dropdown-item text-center sponsoritem sponsorgold" >
               <i class="fa fa-star" aria-hidden="true"></i>
               <br> <strong>{% trans 'Gold' %}</strong>
               <br> $ 95 000 MX
            </p>
            <p class="dropdown-item text-center sponsoritem sponsorplate" >
               <i class="fa fa-star" aria-hidden="true"></i>
               <br> <strong>{% trans 'Silver' %}</strong>
               <br> $ 30 000 MX
            </p>
            </div>
            </div>
            </div>
            </p>
            <a  class="btn btn-success text-center mt-5" href="https://drive.google.com/file/d/1ADKZZ9or1swZUM8TKMRaCRNYXMj7Ro3u/view?usp=sharing" target="_blank">{% trans 'More information on how to sponsor' %}</a>
          </div>
      </div>
    </div>
  </section>
{% endblock content %}