{% extends 'base.html' %}
{% load i18n static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/scheduled.css' %}" />
{% endblock css %}

{% block content %}
<div class="row mb-2 container">
    <section class="d-flex flex-column p-0">
        <h1 class="mb-3 px-0 text-start">{% trans 'Scheduled' %}</h1>
        <div class="px-0 d-flex gap-3">
            {% for day, details in data.items %}
            <button class="btn-outline-primary px-3 py-1 border-0 rounded-1 btn-day" id="{{day}}" onClick="updateDay('{{day}}', this)">
                {% trans 'Day'%} {{ forloop.counter0|add:1 }}
            </button>
            {% endfor %}
        </div>
    </section>

    {% for day, details in data.items %}
    <div id="div-{{ day }}" class="day-container mt-4 p-0">
        <h3 class="subtitle text-start">{{ details.date }}</h3>
        {% for evento in details.events %}
        <div class="row p-0 mt-4 mx-0 border rounded-2 position-relative">
            {% if evento.salon == 'Salon A' %}
            <span class="salon salon-a">
                {{ evento.salon }}
            </span>
            {% elif evento.salon == 'Salon B' %}
            <span class="salon salon-b">
                {{ evento.salon }}
            </span>
            {% endif %}
            <div class="col-md-2 img-container">
                <img src="https://i.pinimg.com/736x/50/08/32/500832144c3040994d7975f89eb5730e.jpg" alt="placeholder"/>
            </div>
            <section class="col-md-10 p-4 text-start">
                <h3 class="subtitle">{{ evento.title }}</h3>
                <div class="d-grid gap-1 mt-3">
                    <span>
                        <iconify-icon icon="radix-icons:person" class="align-middle me-2"></iconify-icon>
                        {{ evento.speaker }}
                    </span>
                    <span>
                        <iconify-icon icon="carbon:time" class="align-middle me-2"></iconify-icon>
                        {{ evento.duration }}
                    </span>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
    let btnDays = document.querySelectorAll('.btn-day');
    let divDays = document.querySelectorAll('.day-container');

    function resetDays() {
        btnDays.forEach(btn => {
            btn.classList.remove('active');
        });
    }

    function resetDivs() {
        divDays.forEach(div => {
            div.style.display = 'none';
        });
    }

    function updateDiv(day) {
        resetDivs();
        document.getElementById(`div-${day}`).style.display = 'block';
    }

    function updateDay(day, element) {
        resetDays();
        element.classList.add('active');
        updateDiv(element.id);
    }

    resetDays();
    resetDivs();
    updateDay('day1', btnDays[0]);
</script>
{% endblock content %}
