{% extends 'base.html' %}
{% load i18n static %}
{% load custom_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/scheduled.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock css %}

{% block content %}
<div class="row mb-2 container">
    <section class="d-flex flex-column p-0">
        <h1 class="mb-3 px-0 text-start">{% trans 'Scheduled' %}</h1>
        <div class="px-0 d-flex gap-3">
            {% for day, details in data.items %}
            <button class="btn-outline-dark px-3 py-1 border-0 rounded-1 btn-day" id="{{day}}"
                onClick="updateDay('{{day}}', this)">
                {% trans 'Day'%} {{ forloop.counter0|add:1 }}
            </button>
            {% endfor %}
        </div>
    </section>
    <a href=""></a>
    {% for day, details in data.items %}
    <div id="div-{{ day }}" class="day-container mt-4 p-0">
        <h3 class="subtitle text-start mn-2 mt-3">{{ details.date }}</h3>
        <hr>
        {% for evento in details.events %}
        {% with speaker=speakers|get_item:evento.speaker %}

        <div class="row p-0 mt-4 mx-0 border rounded-2 position-relative overflow-hidden">
            {% if evento.salon == 'Salón A' or evento.salon == 'Salon A' %}
            <span class="salon salon-a">
                {{ evento.salon }}
            </span>
            {% elif evento.salon == 'Salón B' or evento.salon == 'Salon B' %}
            <span class="salon salon-b">
                {{ evento.salon }}
            </span>
            {% endif %}
            <div class="col-md-2 img-container">
                <img src="{% static 'img/events2/'|add:evento.image %}" alt="{{evento.title|slice:" :19"}}" />
            </div>
            <section class="col-md-10 p-4 text-start m-auto">
                <h3 class="subtitle">{{ evento.title }}</h3>
                <div class="d-grid gap-1 mt-3">
                    <span>
                        <iconify-icon icon="radix-icons:person" class="align-middle me-2"></iconify-icon>
                        <span class="speaker-name {% if speaker.biography %}cursor-pointer{% endif %}" 
                            data-name="{{ speaker.name }}"
                            data-email="{{ speaker.email|default:'' }}"
                            data-biography="{{ speaker.biography|default:'' }}"
                            data-photo="{{ speaker.photo|default:'default.jpg' }}"
                        >{{ speaker.name }}</span>
                    </span>
                    <span>
                        <iconify-icon icon="carbon:time" class="align-middle me-2"></iconify-icon>
                        {{ evento.duration }}
                    </span>
                </div>
            </section>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Modals for speaker's information functionality
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.speaker-name').forEach((element) => {
            element.addEventListener('click', function () {
                const name = this.getAttribute('data-name');
                const email = this.getAttribute('data-email') || '';
                const biography = this.getAttribute('data-biography') || '';
                const photo = "{% static 'img/speakers/' %}" + this.getAttribute('data-photo') || '';

                if(this.getAttribute('data-biography')){

                    if(this.getAttribute('data-photo')){
                        Swal.fire({
                            padding: '2.5em 2em .3em;',
                            showConfirmButton: false,
                            showCloseButton: true,
                            html: `
                                    <div class="rounded-circle overflow-hidden size-12 my-4 mx-auto"><img class="img" src="${photo}" alt="${name}"></div>
                                    <swal-title class="fs-3 fw-bold">${name}</swal-title>
                                    <p class="my-3 biography-text text-black-50">${biography}</p>
                                `,
                        });
                    }
                }
            });
        });
    });

    // Schedule functionality
    let btnDays = document.querySelectorAll('.btn-day');
    let divDays = document.querySelectorAll('.day-container');

    function resetDays() {
        btnDays.forEach(btn => {
            btn.classList.remove('active');
        });
    }

    function resetDivs() {
        divDays.forEach(div => {
            div.style.display = 'none';
        });
    }

    function updateDiv(day) {
        resetDivs();
        document.getElementById(`div-${day}`).style.display = 'block';
    }

    function updateDay(day, element) {
        resetDays();
        element.classList.add('active');
        updateDiv(element.id);
    }

    resetDays();
    resetDivs();
    updateDay('day1', btnDays[0]);
</script>
{% endblock content %}