{% extends 'base.html' %}
{% load i18n static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/team.css' %}" />
{% endblock css %}

{% block content %}
<div class="header">
    <section class="max-900 header-section">
        <div class="d-flex flex-column align-items-center p-3">
            <h1 class="text-white">{% trans "PyCon Latam 2024 Team" %}</h1>
            <p class="text-white">{% trans 'PyCon Latam es organizada por un dedicado equipo de voluntarios que, con esfuerzo y pasión, trabajan para fortalecer la comunidad de Python en Latinoamérica. Su objetivo es fomentar el networking y dar a conocer el lenguaje de programación Python entre los desarrolladores de la región, todo gracias al compromiso desinteresado de quienes colaboran para hacer este evento posible.' %}</p>
        </div>
    </section>
  </div>
  
<div class="mx-auto">
    {% for team in team.values %}
    <section class="p-4 my-5 max-1200">
        <h2 class="fs-2 text-dark-blue">{{ team.title }}</h2>
        <!-- {% if "Orga" in team.title %}
        <p class="description max-w-900">{% trans '' %}</p>
        {% endif %} -->
        <div class="initial mb-4"></div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 g-4 mt-2">
            {% for member in team.members %}
            <div class="col p-3">
                <div class="custom-card">
                    <div class="img-cc">
                        <img class="img-teams h-full" src="{% static 'img/team/'|add:member.photo %}" alt="{{ member.name }}">
                    </div>
                    <section class="grid text-start justify-content-center gray-text align-content-center px-4">
                        <h5 class="text-dark-gray fs-5">{{ member.name }}</h5>
                        <p class="text-light-gray">
                            {{ member.bio|slice:":120" }}{% if member.bio|length > 120 %}...{% endif %}
                        </p>
                        <button type="button" class="btn btn-outline-primary mt-3 member"
                            data-name="{{ member.name }}"
                            data-biography="{{ member.bio|default:'' }}"
                            data-photo="{{ member.photo|default:'default.jpg' }}"
                        >{% trans 'Ver más' %}</button>
                    </section>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.member').forEach((element) => {
            element.addEventListener('click', function () {
                const name = this.getAttribute('data-name');
                const biography = this.getAttribute('data-biography') || '';
                const photo = "{% static 'img/team/' %}" + this.getAttribute('data-photo') || '';

                Swal.fire({
                    padding: '2.5em 2em .3em;',
                    showConfirmButton: false,
                    showCloseButton: true,
                    html: `
                        <div class="div-img">
                            <img class="rounded-photo" src="${photo}" alt="${name}">
                        </div>
                        <h5 class="fs-3 fw-bold">${name}</h5>
                        <div class="my-3 biography-container">
                            <p class="text-black-50">${biography}</p>
                        </div>
                    `,
                });
            });
        });
    });
</script>
{% endblock content %}
