h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    font-size: 1.8rem;
}

.banner-conduct{
    background-image: url('../img/banner_conduct.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    color: white;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
}

.icon-container{
    padding: 1rem;
    background-color: #e5f0fa;
    color: #376389;
    border-radius: .5rem;
}

section{
    margin: 3rem auto;
    color: #767f87;
}

.text-important{
    color: #d69a38;
}

.text-third{
    color: #376389;
    font-size: 1.5rem;
    font-size: 300;
}

.img-container {
    overflow: hidden;
    max-height: 15rem;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.max-900{
    max-width: 900px;
    margin: 0 auto;
}