h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h1, h2, h4, h5, h6{
    color: #0F69B8;
}

section h3{
    color: #0F69B8;
}

.header-section {
    max-width: 900px;
    margin: auto;
    padding: 14rem 0;
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url('../img/conduct.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.paragraph{
    color: #194164;
}

.icon-container{
    padding: 1rem;
    background-color: #e5f0fa;
    color: #256093;
    border-radius: .5rem;
}

section{
    margin: 3rem auto;
    color: #767f87;
}

.text-important{
    color: #d69a38;
}

.blue-md{
    color: #0f69b8;
}

.text-third{
    color: #256093;
    font-size: 1.5rem;
    font-size: 300;
}

.img-container {
    overflow: hidden;
    max-height: 15rem;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.max-900{
    max-width: 900px;
    margin: 0 auto;
}