{% load i18n static %}


<header>
    <nav class="navbar navbar-expand-lg navbar-light nav-bg">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNav">
            <ul class="navbar-nav navbar-right">
                {% if LANGUAGE_CODE == 'es' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scheduled' %}">{% trans "Scheduled" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tickets' %}">{% trans "Tickets" %}</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_en' %}">{% trans "Home" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'scheduled_en' %}">{% trans "Scheduled" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tickets_en' %}">{% trans "Tickets" %}</a>
                </li>
                {%endif%}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "About" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        {% if LANGUAGE_CODE == 'es' %}
                        <a class="dropdown-item" href="{% url 'conduct' %}">{% trans "Code of Conduct" %}</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'conduct_en' %}">{% trans "Code of Conduct" %}</a>
                        {% endif %}

                    </div>
                </li>

                <li class="translation" style="position: relative;">
                    <input type="checkbox" data-on="EN" data-off="ES" data-toggle="toggle" style="position: relative; z-index: 0;" {% if LANGUAGE_CODE == 'en' %}checked{% endif %}>
                    <input id="lang" type="checkbox" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1;" {% if LANGUAGE_CODE == 'en' %}checked{% endif %}>
                </li>

                <!-- Paypal button -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="NEVE32AEQEGPU">
                    <button type="submit" class="btn-paypal my-3 ms-0 my-lg-0 ms-lg-3">
                        <span>{% trans "Donate" %}</span>
                        <span class="paypal-span">Pay<span id="pal">Pal</span></span>
                    </button>
                </form>
            </ul>
        </div>
    </nav>
</header>