{% load static %}
{% load i18n static %}
<section class="sponsors-section">
    <h2>{% trans 'Know our sponsors' %}</h2>
    <div class="sponsors">
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/wisphub.png' %}" alt="Wisphub" />
        </div>
        <div class="sponsor-xl">
            <img class="sponsor-img" src="{% static 'img/sponsors/python_software_foundation.png' %}" alt="Python Software foundation" />
        </div>
        <div class="sponsor">
            <img class="sponsor-img" src="{% static 'img/sponsors/aws.png' %}" alt="AWS" />
        </div>
    </div>
</section>
